@charset "UTF-8";

header{
	background-color: lightgray;
	text-align: center;
	padding: 10px;
}
nav{
	background-color: gray;
	color: black;
	padding: 5px;
}

footer{
	text-align: center;
	color : white;
	background-color: darkgray;
	padding : 15px;
}